.site-title {
	text-align: center;
	font-family: Tahoma, Helvetica, sans-serif;
	font-style: normal;
}

.chart {
	padding: 1em;
	width:800px;
	height:400px;
	margin:1em auto;
}

.error {
	font-weight: bold;
	color: red;
	text-align: center;
}
